<a href="https://colab.research.google.com/github/kobynovin/code/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
#dictionary

grades = {
    'alice': 91,
    'Bob': 88,
    'tracy': 93,
    'erik': 84
}

grades['erik'] = 96                  #either can assign or update value if key already exists (keys are UNIQUE and immutable)
del grades['alice']
print(grades)

{'Bob': 88, 'tracy': 93, 'erik': 96}

In [20]:
for value in grades.values():
  print(value)

for key in grades.keys():
  print(key)

88
93
96
Bob
tracy
erik

In [ ]:
for key, value in grades.items():
  print(f'Key: {key}, Value: {value}')

In [17]:
months = {1: "January", 2: "February", 3: "March"}

print(f' The first month in a year is {months[1]}')

 The first month in a year is January

In [47]:
import pprint

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

months = {}

for x in range(len(numbers)):
    months[numbers[x]] = names[x]

pprint.pprint(months)

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [35]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

months = {numbers[x]: names[x] for x in range(len(numbers))}
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}